@charset "utf-8";

*, a, abbr, acronym, address, area, article, aside, b, applet, audio 
b, bdo, big, blockquote, body, button, center, caption, canvas, 
caption, cite, code, col, colgroup, dd, del, details, dfn, div, 
dd, dl, dt, em, embed, figcaption, figure, fieldset, footer, 
form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, 
html, i, iframe, images, img, ins, kbd, label, legend, li, 
map, mark, menu, navigation, object, ol, output, p, param, pre, 
q, ruby, samp, section, small, span, strong, strike, sub, summary, 
sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, 
tt, u, ul, var, video {
	border:0;
	margin:0; 
	padding:0; 
	vertical-align:baseline;
}

body, .header {
	background-color: #ffe4b5;
	height: 100%;
}

#logo {
	border-bottom-color: #ff0000;
	border-top: 30px;
	display: block;
	margin: auto;
	width: 40%;
	shape-outside: circle(50% at 0 0);
}

h1 {
	text-align: center;
	font-family: "Bubblegum Sans";
	font-size: 20%;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

/* Start Navigation Menu */
.nav a{
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

.nul{
	color: #000000;
	display: block;
	font-size: 1em;
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

.nul li {
	display: inline-block;
	padding: 10px;
}

.nul li:hover, .nul li:active {
	color: #97d6d9;
}

.mobilenav {
	background: #0066CC;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: none;
	padding: 15px 10px;
	text-align: left;
	width: 100%;
}
/* End Navigation Menu */

.content {
	min-height: 500px;
}

.menu {
	margin: auto;
	max-width: 75%;
	padding: 20px;
}

.item p {
	color: gray;
	font-size: 85%;
	text-indent: 3%;
}

/* Start Footer */
.footer {
	background-color: #CC4F0A;
	clear: both;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	bottom: 0;
}

.footer a {
	color: #ffe4b5;
	text-decoration: none;
}

.footer a:hover {
	color: #E5A784;
	text-decoration: none;
}

#fb, #ig {
	padding: 5px;
}

#fb {
	width: 35px;
}

#ig {
	width: 45px;
}

.social img:hover {
	opacity: 50%
}
/* End Footer */

/* Start Media Display */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 960px;) {
	.header, .content, .footer {
		width: 960px;
	}
}

@media only screen and (max-width: 875px) {
  #logo {
  	width: 40%;
  }

  .mobilenav {
  	color: #ffffff;
  }

  .nul {
      max-height: 0px;
  }
   
  .showing {
      max-height: 30em;    
  }
   
   
   .nul li {
   	background-color: #97d6d9;
   	box-sizing: border-box;
   	font-size: 0.75em;
   	width: 100%;
   	padding: 10px;
   	text-align: left;
   }
   
   .nul li:hover {
   	color: #0066CC;
   }

    .mobilenav {
      display: block;
    }

    .content {
    	min-height: 550px;
    }
}

@media screen and (max-width: 720px) {
  .column-2-1, .column-2-2 {
    clear: both;
  }

}

@media screen and (min-width: 720px) {
  .column-2-1 {
      float: left;
    }

    .column-2-2 {
      float: right;
    }
}
/* End Media Display */